:root {
  --background-color: #f4f4f4;
  --text-color: #333333;
  --heading-color: #13022c;
}

[data-theme='light'] {
  --background-color: #f4f4f4;
  --text-color: #333333;
  --heading-color: #13022c;
}

[data-theme='dark'] {
  --background-color: #161625;
  --text-color: #e1e1ff;
  --heading-color: #818cab;
}

[data-theme='pink'] {
  --background-color: powderblue;
  --text-color: hotpink;
  --heading-color: hotpink;
}

html {
  font-size: 10px;
}

body {
  margin: 0;

  background-color: var(--background-color);
  box-sizing: border-box;

  color: var(--text-color);
  font: 400 1.4rem/1.5 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;

  transition-property: color, background-color;
  transition-duration: 0.2s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  color: var(--heading-color);
  transition: color 0.2s;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.5rem;
}

@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.5rem;
  }
}

abbr {
  cursor: help;
}

p,
span,
em,
strong,
a {
  color: var(--text-color);
}

.emoji {
  font-weight: 400;
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols,
    emojione mozilla, twemoji mozilla, segoe ui symbol;
}
