@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), url('../fonts/space-mono-regular.woff2') format('woff2'),
    url('../fonts/space-mono-regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Space Mono'), url('../fonts/space-mono-italic.woff2') format('woff2'),
    url('../fonts/space-mono-italic.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono'), url('../fonts/space-mono-700.woff2') format('woff2'),
    url('../fonts/space-mono-700.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  src: local('Space Mono'), url('../fonts/space-mono-700italic.woff2') format('woff2'),
    url('../fonts/space-mono-700italic.woff') format('woff');
}
